@using FileRepo.Modules
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/layout.cshtml";
}
<table class="table">
    <tr>
        <th>File name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Added on</th>
        <td>@Model.DateAdded</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Notes</th>
        <td>@Model.Notes</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>
            <a href="@Model.User.FbProfileURL">
                <img src="@Model.User.FbPictureURL"/>
                @Model.User.Name
            </a>
        </td>
    </tr>
</table>
<div class="btn-group">
    <a href="/repo/file/@Model.Id/download" class="btn btn-default">Download</a>
    @if (RepoModule.UserAllowedToEdit(Context, Model))
    {
        <a href="/repo/file/@Model.Id/edit" class="btn btn-default">Edit</a>
        <a href="/repo/file/@Model.Id/delete" class="btn btn-default">Delete</a>
    }
    <a href="/repo/subject/@Model.SubjectId" class="btn btn-default">Back</a>
</div>
